.header {
	height: 60px;
	display: flex;
	align-items: center;
	background-color: var(--blue);
	position: sticky;
	top: 0;
	z-index: 100;
}

.header__search {
	display: flex;
	flex: 1;
	align-items: center;
	border-radius: 15px;
	background-color: var(--white);
}

.header__search-input {
	height: 12px;
	padding: 10px 30px;
	border: none;
	width: 100%;
	border-radius: 15px 0px 0px 15px;
}

.header__search-input:focus {
	outline: 2px solid var(--orange);
}

.header__searchIcon {
	border-left: 1.5px solid var(--blue);
	display: flex;
	justify-content: center;
	padding: 0px 4px;
}

.header__searchIcon-icon {
	padding: 5px;
	height: 12px !important;
}

.header__searchIcon:hover {
	transition: 0.1s ease-in-out;
	cursor: pointer;
}

.header__searchIcon:hover .header__searchIcon-icon {
	transition: 0.05s ease-in-out;
	transform: scale(1.35);
}

.header__option-basket {
	display: flex;
	align-items: center;
	color: white;
}

.header__nav {
	display: flex;
	justify-content: space-evenly;
}

.header__mini {
	color: var(--blue);
}

.header__mini_button {
	color: var(--white);
}

.header__option {
	display: flex;
	flex-direction: column;
	margin: 0px 10px;
	color: var(--white);
}

@media only screen and (max-width: 480px) {
	.header__logo {
		width: 40px;
		object-fit: contain;
		margin: 0 20px;
		margin-top: 18px;
	}
	.header__mini_link {
		display: flex;
		flex-direction: column;
		min-width: 18vw;
	}
	.header__option {
		color: var(--blue);
		margin-top: 20px;
	}
	.header__option-lineOne {
		font-size: 8px;
	}
	.header__option-lineTwo {
		font-size: 10px;
		font-weight: 800;
	}
	.header__option-basket {
		display: flex;
		justify-content: center;
	}
	.header__option-basket-icon {
		color: var(--blue);
	}
	.header__basketCount {
		margin: 0px 5px;
		color: var(--blue);
	}
	.header__nav {
		visibility: hidden;
		display: none;
	}
}
@media screen and (min-width: 480px) and (max-width: 768px) {
	.header__logo {
		width: 60px;
		object-fit: contain;
		margin: 0 20px;
		margin-top: 18px;
	}
	.header__option-lineOne {
		font-size: 8px;
	}
	.header__option-lineTwo {
		font-size: 11px;
		font-weight: 800;
	}
	.header__basketCount {
		margin: 0px 7px;
	}
	.header__nav {
		visibility: hidden;
		display: none;
	}
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
	.header__logo {
		width: 80px;
		object-fit: contain;
		margin: 0 20px;
		margin-top: 18px;
	}
	.header__option-lineOne {
		font-size: 10px;
	}
	.header__option-lineTwo {
		font-size: 13px;
		font-weight: 800;
	}
	.header__basketCount {
		margin: 0px 8.5px;
	}
	.header__mini {
		display: none;
		visibility: hidden;
	}
}
@media screen and (min-width: 1200px) {
	.header__logo {
		width: 100px;
		object-fit: contain;
		margin: 0 20px;
		margin-top: 18px;
	}
	.header__option-lineOne {
		font-size: 10px;
	}
	.header__option-lineTwo {
		font-size: 13px;
		font-weight: 800;
	}
	.header__basketCount {
		margin: 0px 10px;
	}
	.header__mini {
		display: none;
		visibility: hidden;
	}
}
