.login__container {
	background-color: var(--purewhite);
}

.login__signin_button {
	background: var(--orange);
	border-radius: 5px;
	width: 100%;
	height: 30px;
	font-weight: 600;
	border: 2px solid var(--grey);
	margin-top: 10px;
	box-sizing: border-box;
	border: 3px solid var(--orange);
}

.login__signin_button:hover {
	background-color: var(--purewhite);
	transition: 0.12s ease-in-out;
	font-size: 16px;
}

.login__inputPassword_show {
	font-size: 10px;
	font-style: italic;
	cursor: pointer;
	width: fit-content;
}

.login__inputPassword_show:hover {
	font-weight: 600;
}

.input__control {
	border: var(--orange);
}
